/* Whole page */
.girl-profile-page {
    min-height: 100vh;
    background-color: #f4f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

/* Main card */
.profile-card {
    width: 700px;
    background-color: rgb(234, 227, 227);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

/* Top section */
.profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

/* Profile image */
.profile-image-button {
    border: 40px;
    background: none;
    cursor: pointer;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

/* Name section */
.profile-title h1 {
    margin: 0;
}

.profile-title p {
    margin-top: 5px;
    color: gray;
}

/* Details section */
.profile-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

.detail-item {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
}

.detail-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: gray;
}

.detail-value {
    display: block;
}

/* Buttons */
.profile-actions {
    margin-top: 25px;
    display: flex;
    gap: 10px;
}

.profile-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-button:hover {
    background-color: rgba(88, 162, 197, 0.573);
}

.primary-button {
    background-color: teal;
    color: white;
}

.secondary-button {
    background-color: royalblue;
    color: white;
}

.outline-button {
    background-color: white;
    border: 1px solid gray;
}


.outline-button:hover {
    background-color: red;
    color: white;
}

/* Image popup */
.image-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
}

.image-modal-content {
    position: relative;
}

.image-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;

    border: none;
    background: white;
    padding: 5px 10px;
    cursor: pointer;
}

.full-profile-image {
    width: 500px;
    max-width: 90%;
    border-radius: 10px;
}